<!-- <input type="text" name="filter" [(ngModel)]="filter" placeholder="Symptoms"/> -->

<!-- <div class="search-wrapper">

    <div class="wrap">
    
        <div class="search">
           <input type="text" class="searchTerm" [(ngModel)]="searchTerm" placeholder="Search over 10 symptoms>
           <button type="submit" class="searchButton" (click)="recipeService.getRecipes(searchTerm)" routerLink="/recipes">
             <i class="fa fa-search"></i>
          </button>
        </div>
    </div>
    </div> -->
<h1>Symptoms Checker</h1>
  <form>
    <input (ngModelChange)="EOAPI.getSymptom(sympName)" type="select" [(ngModel)]="sympName" name="sympName" placeholder="Input Symptom" />
  </form>

  <select (click)="EOAPI.getSubSymptom(sympName)" [(ngModel)]="seletedValue" name="subSymp">
    <option class="dropdown-item" disabled selected value="undefined">Select an Option</option>
    <option *ngFor="let sub of EOAPI.subSearch" [ngValue]="sub.sub_symp">{{sub.sub_symp}}</option>
  </select>

<section *ngFor="let symptom of EOAPI.sympSearch">
  <p> {{symptom.symp_name}} </p>
  <p> Description: {{symptom.symp_desc}}</p>
  <p> These Essential Oils may be helpful:</p>
  
  <h2>EO List</h2>
<p>The following Essential Oils may be helpful with {{ symptom.symp_name }}:</p>

 <!-- ngIf there is a sub symp
<button (click)="EOAPI.getSubEO(subSympName)">Get Essential Oils</button>
<div *ngFor="let eo of EOAPI.eoSearch">
  <p>{{ eo.eo_name }}</p></div>

-->

<button (click)="EOAPI.getSympEO(sympName)">Get Essential Oils</button>
<div *ngFor="let eo of EOAPI.eoSearch">
  <p>{{ eo.eo_name }}</p></div>
  
  <p> Topical Application: {{symptom.topical_appl}}</p>
  <p> Aromatic Application: {{symptom.aromatic_appl}} </p>
</section>