<!-- <input type="text" name="filter" [(ngModel)]="filter" placeholder="Symptoms"/> -->

<!-- <div class="search-wrapper">
    <div class="wrap">
    
        <div class="search">
           <input type="text" class="searchTerm" [(ngModel)]="searchTerm" placeholder="Search over 10 symptoms>
           <button type="submit" class="searchButton" (click)="recipeService.getRecipes(searchTerm)" routerLink="/recipes">
             <i class="fa fa-search"></i>
          </button>
        </div>
    </div>
    </div> -->
<h1>Symptoms Checker</h1>
<form>
  <input
    (ngModelChange)="EOAPI.getSymptom(sympName)"
    type="text"
    [(ngModel)]="sympName"
    name="sympName"
    placeholder="Input Symptom"
  />
</form>

<select
  (click)="EOAPI.getSubSymptom(sympName)"
  [(ngModel)]="selectedValue"
  name="subSymp"
>
  <option class="dropdown-item" disabled selected value="undefined">
    Select an Option
  </option>
  <option *ngFor="let sub of EOAPI.subSearch" [value]="sub.sub_symp">
    {{ sub.sub_symp }}
  </option>
</select>

<!-- <section *ngFor="let symptom of EOAPI.sympSearch">
  <p>{{ symptom.symp_name }}</p>
  <p>Description: {{ symptom.symp_desc }}</p>
  <p>These Essential Oils may be helpful:</p>

  <h2>EO List</h2>
  <p>
    The following Essential Oils may be helpful with {{ symptom.symp_name }}:
  </p> -->

  <!-- ngIf there is a sub symp
  <button (click)="EOAPI.getSubEO(subSympName)">Get Essential Oils</button>
  <div *ngFor="let eo of EOAPI.eoSearch">
    <p>{{ eo.eo_name }}</p></div>
  -->
  <!-- <button (click) ="showSymptom(subSympName)" [ngClass]="{'noSub':!subSymp,'withSub':subSymp}">Click</button> -->

  <!-- <button (click)="EOAPI.getEO(sympByName)">Get Essential Oils</button>
  <div class="noSub" *ngFor="let eo of EOAPI.eoSearch">
    <p>{{ eo.eo_name }}</p>
  </div>

  <p>Topical Application: {{ symptom.topical_appl }}</p>
  <p>Aromatic Application: {{ symptom.aromatic_appl }}</p>

  <button (click)="EOAPI.getSubEO(selectedValue)">Get Essential Oils</button>

  <div class="withSub" class="subSymp" *ngFor="let eo of EOAPI.subEoSearch">
    <p>{{ eo.sub }}</p>
  </div>

  <p>Topical Application: {{ symptom.topical_appl }}</p>
  <p>Aromatic Application: {{ symptom.aromatic_appl }}</p>
</section> -->

<button (click)="EOAPI.getResults(sympName, selectedValue)"> Get Results </button>

<p *ngFor="let eos of EOAPI.eoSubArray"> {{eos.eo_name}} </p>