.header ul {
    display: flex;
    flex-direction: row;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 18px;
}

.divider img {
    height: 10%;
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

select, button {
    font-size: 10pt;
    font-family: Paprika;
    width: 200px;
    background-color: #9BCD9B; 
    border-radius: 5px;
    outline: none;
}

.infoheader {
    border: darkgray;
    border-style: solid;
    border-top-right-radius: 30px 20px;
    border-top-left-radius: 30px 20px;
    background-color: #9BCD9B;
    padding: 5px 20px;
}

.infobox {
    border-left: darkgray;
    border-right: darkgray;
    border-bottom: darkgray;
    border-style: solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 5px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    padding-top: 10px;
    padding-bottom: 30px;
}

.title {
    font-weight: 700;
}


@media only screen and (min-width: 768px) {

.infoheader {
    background-color: #e5faf5;
}

select, button {
    background-color: #e5faf5; 
}

}


@media only screen and (min-width: 992px) {
.infoheader {
    background-color: #f4f4d7;
}

select, button {
    background-color: #f4f4d7; 
}

}