<div class="about">
<h1> About Us </h1>

<div class="p">
<p class="why"> In the spirit of health & wellness, it is important to identify natural & wholistic methods to alleviate symptoms.
    Therefore we wanted to create an app focused on essential oils that provides information on properties, therapeutic components, safe use & application. </p>

<p class='thanks'>Thank you for visiting! - Ashley Cane, Jamie Nolan, & Stephanie Wahl</p>
</div>

<h2>Attribution</h2>

<div class="i">

<ul>
    <li><i>AromaWeb</i></li>

    <li><i>Reference Guide for Essential Oils</i></li>
</ul>

</div>
</div>

