<div class="menu-wrapper">
  <header class="header">
    <a routerLink=""><img id="logo" src="assets/freelogo.jpg"></a>
   
   <ul class="menu">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/symptoms">Symptom Checker</a></li>
    <li><a routerLink="/eo">Essential Oil Information</a></li>
  </ul>
 </header>
 </div>
<!-- <header>
  <a routerLink=""><img id="logo" src="assets/freelogo.jpg"></a>
<ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/symptoms">Symptom Checker</a></li>
    <li><a routerLink="/eo">Essential Oil Information</a></li>
  </ul>
</header> -->
