<h1>Essential Oils</h1>

<div class="divider">
<img src="assets/Hand_drawn_flowers_doodle.jpg" alt="flower doodle">
</div>

<form>
  <p>Enter the name of an Essential Oil for which you would like more information</p>
  <input
    (ngModelChange)="EOAPI.getEO(eoName)"
    type="text"
    [(ngModel)]="eoName"
    name="eoName"
    placeholder="Input Essential Oil Name"
  />
</form>

<div class="container">
  <div *ngFor="let eo of EOAPI.eoSearch">
    <h2>{{ eo.eo_name }}</h2>
    <div class="info">
      <img [src]="eo.eo_url" />

      <div class="infoheader"><h3>Symptoms List</h3></div>
        <div class="infobox">  <p>
            Use the button below to find out on which symptoms {{ eo.eo_name }} may be
            useful:
          </p>
          <button (click)="EOAPI.getEOSymptom(eoName)">Get Symptoms</button>
          
          <div class="wrapper" >
            <div class="list1"><div *ngFor="let symp of EOAPI.sympSearch;let i=index"><a [routerLink]="['/symptoms', symp.symp_name]" *ngIf="i%2==0">{{ symp.symp_name }}</a></div></div>
            <div class="list2"><div *ngFor="let symp of EOAPI.sympSearch;let i=index"><a [routerLink]="['/symptoms', symp.symp_name]" *ngIf="i%2!=0">{{ symp.symp_name }}</a></div></div>
          </div>
        </div>
<br>
<br>
    <div class="infoheader">
      <button (click)="toggle()" id="bt"><h3>{{ buttonName }}:</h3></button></div>
      
      <ng-container *ngIf="show">
        <div class="infobox">
          <div class="title">Properties:</div>
          <div>{{ eo.eo_prop }}</div>
            <p></p>
          <div class="title">Historical Uses:</div>
          <div>{{ eo.eo_hist_uses }}</div>
            <p></p>
          <div class="title">Body Systems:</div>
          <div>{{ eo.eo_body_sys }}</div>
            <p></p>
          <div class="title">Aroma Description:</div>
          <div>{{ eo.eo_aroma_desc }}</div>
        </div></ng-container>
      </div>


  </div>
</div>

