
<h1>Essential Oils</h1>
<!-- <p *ngFor="let oil of EOAPI.essentialOils"> {{oil.eo_name}} </p> -->

<!-- <form>
    <input type="text" name="filter" [(ngModel)]="filter" placeholder="Enter Essential Oil Name" />
</form> -->

<form>
    <input (ngModelChange)="EOAPI.getEO(eoName)" type="text" [(ngModel)]="eoName" name="eoName" placeholder="Input Essential Oil Name" />
</form>

  <div class="container">
    <div *ngFor="let eo of EOAPI.eoSearch">
      <h2>{{ eo.eo_name }}</h2>
          <div><img [src]="eo.eo_url"/></div>
      
        <button (click)="toggle()" id="bt"> {{ buttonName }}: </button>
        <div class="properties">  
        <ng-container *ngIf="show"><div>{{ eo.eo_prop }}</div></ng-container>
      </div>
<p></p>
      <div class="infoheader">Historical Uses:</div>
      <div class="info"> {{ eo.eo_hist_uses }}</div>
<p></p>
      <div class="infoheader">Body Systems:</div> 
      <div class="info">{{ eo.eo_body_sys }}</div>
<p></p>
      <div class="infoheader">Aroma Description:</div>
      <div class="info">{{ eo.eo_aroma_desc }}</div>

  <h2>Symptoms List</h2>
  <p>Use the button below to find out on which symptoms {{ eo.eo_name }} may be useful:</p>
    <button (click)="EOAPI.getEOSymptom(eoName)">Get Symptoms</button>
      <div *ngFor="let symp of EOAPI.sympSearch" [ngClass]="wrapper">
        <a [routerLink]="['/symptoms', symp.symp_name]">{{ symp.symp_name }}</a>
      </div>
</div>
<!-- *ngFor="let linkItem of linkItems"
class="{{linkItem.className}}" 
routerLink="{{linkItem.routerLink}}"
(click)="listItemClickToggle(linkItem)">
{{linkItem.linkName}} -->


<!-- <ol>
  <li *ngFor="let symptom of EOAPI.getEOSymptom(eoName)">
      <div class="item_container"> 
          <p class="list">{{ symptom.symp_name }}</p>
      </div>
  </li>
</ol> -->
<!-- <app-symptom-list>{{ symptom.symp_name }}</app-symptom-list>     -->
      <!-- <app-symptom-list [villager]="villager"
      *ngFor="let villager of villagersService.villagers"></app-symptom-list> -->
