/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Paprika';
    display: flex;
    align-items: center;
    margin: auto;
    /* background: linear-gradient(to right, #0634a1, #15be69); */
}