<!-- <img src="assets/freelogo.jpg"> -->
<!-- <h1> eSense - It Makes Scents!</h1> -->
<div class="container">
<div class="header"> 
    <h2 id="sym">Symptoms Checker</h2>
    <a routerLink= '/symptoms'> <img src="assets/Symp2.png" alt="Symptoms">
    </a>
</div>

<div class="header">
    <h2 id="eo">Essential Oils Info</h2>
    <a routerLink= '/eo'> <img src="assets/EO1.png" alt="Essential Oils">
        <!-- <a href= '/eo'> <img src="assets/EO1.jpg" alt="Essential Oils"> -->
        </a>
</div>

<!-- <div class="header">
    <h2 id="random">Get a Random Oil</h2>
    <img src="assets/leafdroptobottle.jpg" (click)="EOAPI.getRandom()">
</div>
<p id="random-term">{{EOAPI.randomTerm.eo_name}}></p> -->

    <div class="header">
        <h2 id="random">Run the EO Randomizer</h2>
        <!-- <h2 id="random">Not sure what you're looking for?<br>Get a random oil to get started.</h2> -->
        <img src="assets/Untitled_Artwork.png" (click)="EOAPI.getRandom()">
        <!-- <button class="random-button" (click)="EOAPI.getRandom()">RUN THE EO RANDOMIZER</button> -->
      <p id="random-term">{{EOAPI.randomTerm[0].eo_name}}</p> 
    </div>
    </div>
<br>
<br>

<div class="container">
<p id="disclaimer">The information provided on this web site is intended for basic, general informational purposes only. 
    It is not intended as medical advice and it does not include all possible precautions, side effects, 
    or interactions that may occur. The creators of this website do not take responsibility for how you 
    use the information provided. Statements contained on this website have not been evaluated by the FDA. 
    You should conduct thorough research via multiple sources and consult directly with a qualified medical professional 
    before using any essential oil or product. Information on this website must not be relied upon for medical, 
    legal, financial or other decisions.  </p>
</div>