<img src="assets/freelogo.jpg">
<!-- <h1> eSense - It Makes Scents!</h1> -->
<div>
<h2>Symptoms Checker</h2>
    <a href= '/symptoms'> <img src="assets/bottleswithherbs.jpg" alt="Symptoms">
    </a>
<h2>Essential Oils Info</h2>
    <a href= '/eo'> <img src="assets/leafdroptobottle.jpg" alt="Essential Oils">
    </a>
</div>

<p>The information provided on this Web site is intended for basic, general informational purposes only. 
    It is not intended as medical advice and it does not include all possible precautions, side effects, 
    or interactions that may occur. The creators of this website do not take responsibility for how you 
    use the information provided. Statements contained on this website have not been evaluated by the FDA. 
    You should conduct thorough research via multiple sources and consult directly with a qualified doctor 
    before using any essential oil or product. Information on this website must not be relied upon for medical, 
    legal, financial or other decisions.  </p>