h2 {
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #sym {
    display: flex;
  justify-content: center;
  align-items: center;
}

#eo {
    display: flex;
  justify-content: center;
  align-items: center;
}

#random {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
} */

/* img {
    margin: auto;
    position: relative;
    left: 200px;
    right: 200px;
} */

img {
    width: 200px;
    height: 150px;
}

/* .random-button {
    margin: auto;
    left: 200px;
    right: 200px;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    background: linear-gradient(to right, rgb(125, 242, 135), rgb(38, 161, 38), rgb(12, 152, 49), rgb(14, 222, 31), rgb(10, 144, 10), rgb(14, 185, 59))
} */

#random-term {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

#disclaimer {
    background-color: none;
    display: flex;
    font-size: 6px;
    text-align: justify;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
    margin: 10px;
}

@media only screen and (min-width: 768px) {
    /* .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } */

    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .header {
    float: left;
    width: 32%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  #random-term {
  display: flex;
  justify-content: center;
  align-items: center;
 font-size: 16px;
}
  
    /* #sym {
        display: flex;
        flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    #eo {
        display: flex;
        flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    #random {
        display: flex;
        flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    img {
        margin: auto;
        position: relative;
        left: 200px;
        right: 200px;
    } */
    
    #disclaimer {
        background-color: aquamarine;
        font-size: 8px;
        border: gray;
        text-align: justify;
        display: flex;
        /* text-align: end; */
    }

}

@media only screen and (min-width: 992px) {
    h2 {
        color:rgb(163, 171, 106);
        font: bold;
    }

    #disclaimer {
        background-color:rgb(163, 171, 106);
        font-size: 8px;
        border: gray;
        text-align: justify;
        display: flex;
        align-content: flex-end;
        /* text-align: end; */
    }

}